CMAPSS/*.pdf
CMAPSS/*.txt

models/cnn_ode.FD001.v1.model
models/cnn_ode.FD002.v1.model
models/cnn_ode.FD003.v1.model
models/cnn_ode.FD004.v1.model
models/ode.FD001.v3.model
models/ode.FD001.v4.model
models/ode.FD002.v1.model
models/ode.FD002.v2.model
models/ode.FD003.v1.model
models/ode.FD004.v1.model
models/ode.model
models/ode.v2.model
models/tunning_dummy.model

models/cnn_lstm_attention.FD001.v1.model
models/cnn_lstm_attention.FD002.v1.model
models/cnn_lstm_attention.FD003.v1.model
models/cnn_lstm_attention.FD004.v1.model
models/cnn_ode.FD001.v2.model
models/cnn_ode.FD002.v2.model
models/cnn_ode.FD003.v2.model
models/cnn_ode.FD004.v2.model
models/cnn.FD001.v1.model
models/cnn.FD002.v1.model
models/cnn.FD003.v1.model
models/cnn.FD004.v1.model
models/ode.FD001.v5.model
models/ode.FD002.v3.model
models/ode.FD003.v2.model
models/ode.FD004.v2.model

figures/cnn_lstm_attention
figures/lstm

models/cnn_lstm_attention
models/lstm
models/tune

.venv/
.DS_Store
__pycache__
run.bat
run.sh